@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: #343a40 !important;
}

.theme-switcher span {
    color: #ffffff;
}

body.dark-mode {
    background-color: #212529 !important;
    color: #f8f9fa !important;
}

body.dark-mode .navbar {
    background-color: rgba(255, 99, 71, 0.5) !important;
}

body.dark-mode .card {
    background-color: #2a2a2a !important;
    color: #ffffff !important;
}

body.dark-mode .theme-switcher span {
    color: #f8f9fa;
}

body.dark-mode .btn-outline-light {
    color: #00FFFF;
    border-color: #00FFFF;
}

  .selected {
    border: 2px solid #28a745; /* Warna hijau untuk menandai produk dipilih */
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
  }
  